
body, h1, p, ul {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 20px;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUPzvndZmSEEhnQjixhWcETu242aDKTHcdNw&usqp=CAU') center/cover no-repeat;
  background-size: 100px;
  font-family: 'Arial', sans-serif;
}

.menu-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.menu-item {
  flex: 0 0 calc(50% - 10px);
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu-item img {
  max-width: 50%;
  border-radius: 5px;
}


.item-info {
  display: flex;
  align-items: center;
}

.item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  text-align: center;
}

.item-details {
  text-align: center;
}


.cart-summary {
  margin-top: 20px;
  border-top: 2px solid #333;
  padding-top: 10px;
}


@media screen and (max-width: 600px) {
  .menu-item {
    flex: 0 0 100%; 
  }
}
